* {
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
  }
  
  .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
  }
  
  .header {
    background-color: #393f4d;
  }
  
  .menu ul,
  .menu li {
    font-size: 16px;
  }
  
  .sidebar {
    background-color: #C50208;
  }
  
  .sidebar .photo {
    background-color: white;
    color: black;
    font-size: 12px;
    font-weight: normal;
    border-radius: 10px;
  }
  
  
  .sidebar .side-content {
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: normal;
  }
  
  .nav {
    background-color: #C50208;
  }
  
  .nav ul li {
    font-size: 16px;
    text-transform: uppercase;
  }
  
  .article {
    background-color: #bccbde;
  }
  
  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    background-color: #FFFFFF;
    color: black;
    text-align: center;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: center;
  }
  .card{
    height: 200px;
  }
  
  .footer {
    background-color: #393f4d;
  }
  
  .footer p {
    font-size: 13px;
    font-weight: normal;
  }
  .grid-container{
    display: grid;
    grid-template-columns: 20% 80% ;
    gap: 4px;
  }
  .grid-header ,.grid-footer{
    grid-column: span 5;
  }
  .grid-header{
    display: grid;
    grid-template-columns:25% 1fr;
  }
  .grid-sidebar{
    grid-row: 2/5;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr;

  }
  .item{
    grid-column: span 1;
    /* grid-row: span 2; */
  }
  .grid-link{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    list-style: none;
  }
  
  .grid-nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column: span 3;
    list-style: none;
  }
  .nav{
    grid-column: span 3;
    /* grid-row: span 1; */

  }
  .grid-article{
    grid-column:2/3;
    gap: 15px;
  }
  .grid-article-container{
    display: grid;
    grid-template-columns:repeat(autofit,minmax(250px ,1fr)); 
    gap: 15px;
  }