body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:#FFFFFF;
}
body{
    display: flex;
    flex-flow:column;
    flex:1;
    box-sizing: border-box;
}
button{
    color: white;
    background-color:#3B82F6;
    border-radius: 5px;
    width: 25%;
    min-width: 25%;
}
.middle{
    background-color: #E5E7EB;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.card{
    border: 2px solid #9EC1FA;
    width: 15%;
    border-radius: 5px;
    padding: 0.8em;
}
header,
footer{
    background-color: #1F2937;
    color:#F9FAFB;
    margin:0;
    padding:0.5rem;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
ul :link{
    text-decoration: none;

}
header > div{
    display: flex;
    justify-content: space-around;
}
.center-body{
    display: flex;
    flex-direction:column;
    align-items: center;

}
.card-d{
    display: flex;
    justify-content:center;
    gap:10px 20px;
    margin: 2rem;
}
.first-class{
    display: flex;
    gap: 2em;
    flex: 0;
}
.pic{
    display:flex;
    border: 1px solid #6D747D;
    background-color: #6D747D;
    border-radius: 0.2px;
    flex:0.5;
    justify-content: center;
    align-items: center;
    padding: 0.5em;

}
.caard{
    display: flex;
    flex-flow:column;
    justify-content: center;
    background-color:#3B82F6;
    border-radius: 8px;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    color: #F9FAFB;
}